<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.javashitang.part1.pojo"/>
	</typeAliases>
	<typeHandlers>
		<typeHandler handler="com.javashitang.part1.typeHandler.MyStringTypeHandler" jdbcType="VARCHAR" javaType="string"/>
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.javashitang.part1.plugins.SqlCostTimeInterceptor">
		</plugin>
	</plugins>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC">
				<property name="autoCommit" value="false"/>
			</transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://www.erlie.cc:3306/mybatis"/>
				<property name="username" value="root"/>
				<property name="password" value="peng2014"/>
			</dataSource>
		</environment>
	</environments>
	<!--配置映射器-->
	<mappers>
		<mapper resource="com/javashitang/part1/mapper/RoleMapper.xml"/>
	</mappers>
</configuration>
